<h1>Display your Pirate here</h1>
<h3>Name: <%= @pirate.name %> Weight: <%= @pirate.weight %> Height: <%= @pirate.height %></h3>

<h2>Display your first ship here</h2>
<h3>Name: <%= @ships.first.name %> Type: <%= @ships.first.type %> Booty: <%= @ships.first.booty %></h3>

<h2>Display your second ship here</h2>
<h3>Name: <%= @ships.last.name %> Type: <%= @ships.last.type %> Booty: <%= @ships.last.booty %></h3>